<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.persistence.mybatisimpl.mappers.ComentMapper">


	<select id="loadComment" resultMap="loadCommentResult" parameterType="map">
                  SELECT
		bc.author as AuthorComment,
		bc.content as Content,
		bc.id as ComentarioBlogID,
		bc.creation_date as fechaDate,
		bc.author as pruebita,
                bu.login,
		bu.name,
                bu.lastName,
		b.title as titleBlog
		FROM BLOG as b , BLOG_COMMENT as bc, BLOG_USUARIO as bu
		WHERE b.id = bc.blog_id and bu.login = bc.author  and b.title = #{tituloBlog}
		ORDER BY fechaDate DESC
	</select>

	<resultMap type="Comment" id="loadCommentResult">
		<id property="id" column="ComentarioBlogID" />
		<result property="creationDate" column="fechaDate" />
		<result property="content" column="Content" />
		<association property="author" javaType="User" resultMap="edu.eci.pdsw.persistence.mybatisimpl.mappers.UserMapper.UserResult"/>
         </resultMap>


</mapper>